main {
	padding-top: 32px;
	font-size: 16px;
	margin-top: 32px;
}

.background {
	background: url('../../assets/reksio.jpg');
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

.layer {
	position: relative;
	width: 80%;
	margin: 32px 0;
	border: 4px solid white;
	border-left: none;
}

.layer:hover,
.layer:active {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-color: black !important;
}

.layer a {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 32px;
}

.layer-badge {
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
	color: saddlebrown;
	background: white;
	padding: 8px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.95);
}

.layer-subtitle {
	color: lightgoldenrodyellow;
}

.layer-description {
	padding: 16px;
	border: 1px solid lightsalmon;
	color: lightsalmon;
	font-size: 32px;
}

#abyssal {
	background: rgba(0, 0, 0, 0.9);
}

#origin {
	background: rgba(0, 0, 0, 0.9);
	float: right;
	text-align: right;
	border: 4px solid white;
	border-right: none;
}

#carnal {
	background: rgba(0, 0, 0, 0.9);
}

#carnal .layer-title {
	color: indianred;
}

#carnal .layer-subtitle {
	color: lightcoral;
}

.clearfix {
	clear: both;
}

