#overview {

  background: linear-gradient(to right bottom, rgba(139, 69, 19, 0.5) 25%, transparent),
              url("../../assets/reksio.jpg") left bottom 66%/cover no-repeat border-box;
  filter: grayscale(20%);
  height: 50vh;
  width: 100vw;
  padding: 0.6rem;
  margin-top: 4.7rem;
  font-size: 2rem;
  position: relative;
}

#overview h1 {
  position: absolute;
  top: 1%;
  left: 5%;
}

#overview h4 {
  position: absolute;
  top: 85%;
  left: 90%;
}

#zones {
  background-color: black;
}

.zones-header {
  text-align: center;
  font-size: 4rem;
}

.zone {
  background: saddlebrown;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;

  font-size: 1rem;
}

.zone-highlighted {
  background: sandybrown;
  color: black;
}

.zone-annotation {
  background: lightgoldenrodyellow;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.5);
  color: darkolivegreen;
}

.zone-title {
  color: indianred;
}

.zone-subtitle {
  color: blanchedalmond;
}

.zone-highlighted .zone-title {
  color: brown;
}

.zone-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.zone-list li {
  margin: 8px;
}

#below-zones {
  font-size: 1rem;
  background: darkred;
  margin-top: 4rem;
  padding: 1rem;
}

#below-zones > .zones-header {
  color: white;
  margin: 2rem;
}

.zone-features {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.zone-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.zone-feature-description {
  text-align: center;
  font-weight: 0;
}

.zone-feature-img {
  background: darkorange;
  width: 128px;
  height: 128px;
  border: 2px solid orangered;
  border-radius: 50%;
  margin: auto;
  padding: 2.5rem;
}
